pandas is built on Numpy and Matplotlib

In [42]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs)

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella    Labrador  Brown          56          24    2013-07-01
1  Charlie      Poodle  Black          43          24    2016-09-16
2   Cooper    Schnauze   Gray          49          17    2011-12-11
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
4      Max    Labrador  Black          59          29    2017-01-20
5   Bernie  St.Bernard  White          77          74    2018-02-27

In [43]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.head()) # for a few first rows for better understanding

      Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella   Labrador  Brown          56          24    2013-07-01
1  Charlie     Poodle  Black          43          24    2016-09-16
2   Cooper   Schnauze   Gray          49          17    2011-12-11
3     Lucy  Chow Chow  Brown          46          24    2014-08-25
4      Max   Labrador  Black          59          29    2017-01-20

In [44]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.info())  # display the names of columns, the data types they contain and whether they have any missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           6 non-null      object
 1   Breed          6 non-null      object
 2   Color          6 non-null      object
 3   Height(cm)     6 non-null      int64
 4   Weight(kg)     6 non-null      int64
 5   Date of Birth  6 non-null      object
dtypes: int64(2), object(4)
memory usage: 420.0+ bytes
None

In [45]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.shape)  # an attribute contains a tuple that holds the number of rows followed by the number of columns.

(6, 6)

In [46]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.describe()) # computes some summary statistics for numerical columns like mean and median. "count" is the number of non-missing values in each column.
# `describe()` is good for a quick overview of numeric variables.

       Height(cm)  Weight(kg)
count    6.000000     6.00000
mean    55.000000    32.00000
std     12.345039    20.92845
min     43.000000    17.00000
25%     46.750000    24.00000
50%     52.500000    24.00000
75%     58.250000    27.75000
max     77.000000    74.00000

In [47]:
import pandas as pd
import numpy as np
dogs = pd.read_csv('dogs.csv')
print(np.array(dogs.values))  # contains the data values in a 2-dimensional Numpy array.

[['Bella' 'Labrador' 'Brown' 56 24 '2013-07-01']
 ['Charlie' 'Poodle' 'Black' 43 24 '2016-09-16']
 ['Cooper' 'Schnauze' 'Gray' 49 17 '2011-12-11']
 ['Lucy' 'Chow Chow' 'Brown' 46 24 '2014-08-25']
 ['Max' 'Labrador' 'Black' 59 29 '2017-01-20']
 ['Bernie' 'St.Bernard' 'White' 77 74 '2018-02-27']]

In [48]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.columns) # contains column names
for i in dogs.columns:
    print(type(i),end=" ")
    print(i)
print(dogs.index) #contains row numbers or row names.

Index(['Name', 'Breed', 'Color', 'Height(cm)', 'Weight(kg)', 'Date of Birth'], dtype='object')
<class 'str'> Name
<class 'str'> Breed
<class 'str'> Color
<class 'str'> Height(cm)
<class 'str'> Weight(kg)
<class 'str'> Date of Birth
RangeIndex(start=0, stop=6, step=1)

In [49]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.sort_values("Weight(kg)") # change the order Ã² the rows by sorting with sort_values()

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
2   Cooper    Schnauze   Gray          49          17    2011-12-11
0    Bella    Labrador  Brown          56          24    2013-07-01
1  Charlie      Poodle  Black          43          24    2016-09-16
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
4      Max    Labrador  Black          59          29    2017-01-20
5   Bernie  St.Bernard  White          77          74    2018-02-27

In [50]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.sort_values("Weight(kg)", ascending=False) # set ascending = False to reverse the order

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
5   Bernie  St.Bernard  White          77          74    2018-02-27
4      Max    Labrador  Black          59          29    2017-01-20
1  Charlie      Poodle  Black          43          24    2016-09-16
0    Bella    Labrador  Brown          56          24    2013-07-01
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
2   Cooper    Schnauze   Gray          49          17    2011-12-11

In [51]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.sort_values(["Weight(kg)","Height(cm)"]) # We can sort by multiple variables by passing a list of column names to the function. We sort first by weight, then by height.

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
2   Cooper    Schnauze   Gray          49          17    2011-12-11
1  Charlie      Poodle  Black          43          24    2016-09-16
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
0    Bella    Labrador  Brown          56          24    2013-07-01
4      Max    Labrador  Black          59          29    2017-01-20
5   Bernie  St.Bernard  White          77          74    2018-02-27

In [53]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.sort_values(["Weight(kg)","Height(cm)"],ascending=[True,False])

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
2   Cooper    Schnauze   Gray          49          17    2011-12-11
0    Bella    Labrador  Brown          56          24    2013-07-01
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
1  Charlie      Poodle  Black          43          24    2016-09-16
4      Max    Labrador  Black          59          29    2017-01-20
5   Bernie  St.Bernard  White          77          74    2018-02-27

In [55]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
for column_name in dogs.columns:
    print(dogs[column_name])
    print()

0      Bella
1    Charlie
2     Cooper
3       Lucy
4        Max
5     Bernie
Name: Name, dtype: object

0      Labrador
1        Poodle
2      Schnauze
3     Chow Chow
4      Labrador
5    St.Bernard
Name: Breed, dtype: object

0    Brown
1    Black
2     Gray
3    Brown
4    Black
5    White
Name: Color, dtype: object

0    56
1    43
2    49
3    46
4    59
5    77
Name: Height(cm), dtype: int64

0    24
1    24
2    17
3    24
4    29
5    74
Name: Weight(kg), dtype: int64

0    2013-07-01
1    2016-09-16
2    2011-12-11
3    2014-08-25
4    2017-01-20
5    2018-02-27
Name: Date of Birth, dtype: object

In [57]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs[["Breed","Name"]])

        Breed     Name
0    Labrador    Bella
1      Poodle  Charlie
2    Schnauze   Cooper
3   Chow Chow     Lucy
4    Labrador      Max
5  St.Bernard   Bernie

In [58]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs[["Name","Breed"]])

      Name       Breed
0    Bella    Labrador
1  Charlie      Poodle
2   Cooper    Schnauze
3     Lucy   Chow Chow
4      Max    Labrador
5   Bernie  St.Bernard

In [59]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs["Height(cm)"] > 50 # the most common way to do this is by creating a logical condition to filter against.

0     True
1    False
2    False
3    False
4     True
5     True
Name: Height(cm), dtype: bool

In [62]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs[dogs["Height(cm)"] > 50] # we can use logical condition inside [] to subset the rows

     Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
0   Bella    Labrador  Brown          56          24    2013-07-01
4     Max    Labrador  Black          59          29    2017-01-20
5  Bernie  St.Bernard  White          77          74    2018-02-27

In [63]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs[dogs["Breed"] == "Labrador"]

    Name     Breed  Color  Height(cm)  Weight(kg) Date of Birth
0  Bella  Labrador  Brown          56          24    2013-07-01
4    Max  Labrador  Black          59          29    2017-01-20

In [65]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs[dogs["Date of Birth"] < "2015-01-01"].sort_values("Date of Birth") # YYYY - MM - DD is the standard format for date.

     Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
2  Cooper   Schnauze   Gray          49          17    2011-12-11
0   Bella   Labrador  Brown          56          24    2013-07-01
3    Lucy  Chow Chow  Brown          46          24    2014-08-25

In [68]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
is_lab = dogs["Breed"] == "Labrador"
is_brown = dogs["Color"] == "Brown" 
dogs[is_lab & is_brown] #to subset the rows that meet multiple conditions, we're using logical operators.

    Name     Breed  Color  Height(cm)  Weight(kg) Date of Birth
0  Bella  Labrador  Brown          56          24    2013-07-01

In [70]:
# using isin() to filter on multiple values of a categorical variable.
import pandas as pd
dogs = pd.read_csv('dogs.csv')
is_black_or_brown =  dogs["Color"].isin(["Black","Brown"])
print(dogs[is_black_or_brown])

      Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella   Labrador  Brown          56          24    2013-07-01
1  Charlie     Poodle  Black          43          24    2016-09-16
3     Lucy  Chow Chow  Brown          46          24    2014-08-25
4      Max   Labrador  Black          59          29    2017-01-20

In [1]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs["height_m"] = dogs["Height(cm)"] / 100
print(dogs)

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth  height_m
0    Bella    Labrador  Brown          56          24    2013-07-01      0.56
1  Charlie      Poodle  Black          43          24    2016-09-16      0.43
2   Cooper    Schnauze   Gray          49          17    2011-12-11      0.49
3     Lucy   Chow Chow  Brown          46          24    2014-08-25      0.46
4      Max    Labrador  Black          59          29    2017-01-20      0.59
5   Bernie  St.Bernard  White          77          74    2018-02-27      0.77

In [6]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs["bmi"] = dogs["Weight(kg)"] / dogs["Height(cm)"] ** 2
dogs["bmi"] = dogs["bmi"].astype(float).round(4)
print(dogs.head())

      Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth     bmi
0    Bella   Labrador  Brown          56          24    2013-07-01  0.0077
1  Charlie     Poodle  Black          43          24    2016-09-16  0.0130
2   Cooper   Schnauze   Gray          49          17    2011-12-11  0.0071
3     Lucy  Chow Chow  Brown          46          24    2014-08-25  0.0113
4      Max   Labrador  Black          59          29    2017-01-20  0.0083

In [27]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs["height_m"] = dogs["Height(cm)"] / 100
dogs["bmi"] = dogs["Weight(kg)"] / (dogs["height_m"] ** 2)
dogs["bmi"] = dogs["bmi"].astype(float).round(2)
bmi_lt_100 = dogs[dogs["bmi"] < 100]
bmi_lt_100_height = bmi_lt_100.sort_values("height_m", ascending=False)
print(bmi_lt_100_height[["Name","height_m","bmi"]])

     Name  height_m    bmi
4     Max      0.59  83.31
0   Bella      0.56  76.53
2  Cooper      0.49  70.80

In [51]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs["Height(cm)"].mean())# mean() function tell where the "center" of your data is.
#'''
#We can also use .median() or .mode() or .min() or .max(), .var() , .std() , .sum() , .quantile()
#'''
print(dogs["Height(cm)"].std())
dogs["date_of_birth"] = dogs["Date of Birth"]
print(dogs["date_of_birth"].min())
# the .agg() method
def pct30(column):
    return column.quantile(0.3)
print(dogs["Weight(kg)"].agg(pct30))
print(dogs["Height(cm)"].agg(pct30))
def pct40(column):
    return column.quantile(0.4)
dogs["Weight(kg)"].agg([pct30,pct40])
print(dogs["Weight(kg)"].cumsum()) # sum of each one - each one
# .cummax()
print(dogs["Weight(kg)"].cummax())
# .cummin()
print(dogs["Weight(kg)"].cummin())
# .cumprod()
print(dogs["Weight(kg)"].cumprod())

55.0
12.345039489608771
2011-12-11
24.0
47.5
0     24
1     48
2     65
3     89
4    118
5    192
Name: Weight(kg), dtype: int64
0    24
1    24
2    24
3    24
4    29
5    74
Name: Weight(kg), dtype: int64
0    24
1    24
2    17
3    17
4    17
5    17
Name: Weight(kg), dtype: int64
0           24
1          576
2         9792
3       235008
4      6815232
5    504327168
Name: Weight(kg), dtype: int64

In [ ]:
import pandas as pd
# the vet's office wants to know how many dogs of each breed have visited their office. However, some dogs have been to the vet more than once, so we can't just count the number of each breed in the breed column.
vet_visits = pd.read_csv('vet_visits.csv')
# By removing rows that contain in a dog name already listed earlier, we extract a dog with each name from the data set once. We use drop_duplicates() - take an argument, subset, which is the column we want to find our duplicates based on. We want all the unique names. 
vet_visits.drop_duplicates(subset = "name")
# But what if we have 2 dogs - same name - different breed. We use duplicate pairs
unique_dogs = vet_visits.drop_duplicates(subset = ["name","breed"])
unique_dogs['breed'].value_counts() # count the dogs of each breed
unique_dogs['breed'].value_counts(normalize = True) # use normalize argument to turn into proportions of the total.

In [63]:
# Summaries by group
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs[dogs["Color"] == "Black"]["Weight(kg)"].sum()
,dogs[dogs["Color"] == "Brown"]["Weight(kg)"].sum()
,dogs[dogs["Color"] == "White"]["Weight(kg)"].mean()
,dogs[dogs["Color"] == "Gray"]["Weight(kg)"].mean()
,dogs[dogs["Color"] == "Tan"]["Weight(kg)"].mean())
print(dogs.groupby("Color")["Weight(kg)"].mean()) # use groupby() 
dogs.groupby(["Color","Breed"])["Weight(kg)"].mean()

53 48 74.0 17.0 nan
Color
Black    26.5
Brown    24.0
Gray     17.0
White    74.0
Name: Weight(kg), dtype: float64

Color  Breed
Black  Labrador      29.0
       Poodle        24.0
Brown  Chow Chow     24.0
       Labrador      24.0
Gray   Schnauze      17.0
White  St.Bernard    74.0
Name: Weight(kg), dtype: float64

In [78]:
import pandas as pd
import numpy as np
dogs = pd.read_csv('dogs.csv')
print(dogs.groupby('Color')["Weight(kg)"].mean())
print(dogs.pivot_table(values = "Weight(kg)", index = "Color"))
print(dogs.pivot_table(values = "Weight(kg)", index = "Color", aggfunc =["mean","median"]))

Color
Black    26.5
Brown    24.0
Gray     17.0
White    74.0
Name: Weight(kg), dtype: float64
       Weight(kg)
Color
Black        26.5
Brown        24.0
Gray         17.0
White        74.0
            mean     median
      Weight(kg) Weight(kg)
Color
Black       26.5       26.5
Brown       24.0       24.0
Gray        17.0       17.0
White       74.0       74.0

In [83]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
import numpy as np
print(dogs.groupby(["Color","Breed"])["Weight(kg)"].mean())
print(dogs.pivot_table(values = "Weight(kg)", index = "Color", columns = "Breed"))
print(dogs.pivot_table(values = "Weight(kg)", index = "Color", columns = "Breed",fill_value=0))
print(dogs.pivot_table(values = "Weight(kg)", index = "Color", columns = "Breed", fill_value=0, margins = True))

Color  Breed
Black  Labrador      29.0
       Poodle        24.0
Brown  Chow Chow     24.0
       Labrador      24.0
Gray   Schnauze      17.0
White  St.Bernard    74.0
Name: Weight(kg), dtype: float64
Breed  Chow Chow  Labrador  Poodle  Schnauze  St.Bernard
Color
Black        NaN      29.0    24.0       NaN         NaN
Brown       24.0      24.0     NaN       NaN         NaN
Gray         NaN       NaN     NaN      17.0         NaN
White        NaN       NaN     NaN       NaN        74.0
Breed  Chow Chow  Labrador  Poodle  Schnauze  St.Bernard
Color
Black        0.0      29.0    24.0       0.0         0.0
Brown       24.0      24.0     0.0       0.0         0.0
Gray         0.0       0.0     0.0      17.0         0.0
White        0.0       0.0     0.0       0.0        74.0
Breed  Chow Chow  Labrador  Poodle  Schnauze  St.Bernard   All
Color
Black        0.0      29.0    24.0       0.0         0.0  26.5
Brown       24.0      24.0     0.0       0.0         0.0  24.0
Gray         0.0       0.0     0.0      17.0         0.0  17.0
White        0.0       0.0     0.0       0.0        74.0  74.0
All         24.0      26.5    24.0      17.0        74.0  32.0

In [89]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
# setting a column as the index
dogs_ind = dogs.set_index("Name")
print(dogs_ind.head())
# To undo what we did, we can reset the index with reset_index()
dogs_ind = dogs_ind.reset_index()
print(dogs_ind.head())
dogs_ind = dogs.set_index("Name")
dogs_ind = dogs_ind.reset_index(drop=True) # set `drop` argument to remove the index columns.
print(dogs_ind.head())

             Breed  Color  Height(cm)  Weight(kg) Date of Birth
Name
Bella     Labrador  Brown          56          24    2013-07-01
Charlie     Poodle  Black          43          24    2016-09-16
Cooper    Schnauze   Gray          49          17    2011-12-11
Lucy     Chow Chow  Brown          46          24    2014-08-25
Max       Labrador  Black          59          29    2017-01-20
      Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella   Labrador  Brown          56          24    2013-07-01
1  Charlie     Poodle  Black          43          24    2016-09-16
2   Cooper   Schnauze   Gray          49          17    2011-12-11
3     Lucy  Chow Chow  Brown          46          24    2014-08-25
4      Max   Labrador  Black          59          29    2017-01-20
       Breed  Color  Height(cm)  Weight(kg) Date of Birth
0   Labrador  Brown          56          24    2013-07-01
1     Poodle  Black          43          24    2016-09-16
2   Schnauze   Gray          49          17    2011-12-11
3  Chow Chow  Brown          46          24    2014-08-25
4   Labrador  Black          59          29    2017-01-20

In [95]:
# indexes make subsetting simpler
import pandas as pd
dogs = pd.read_csv('dogs.csv')
# using subsetting in normal way
print(dogs[dogs["Name"].isin(["Bella","Max"])])
# using indexes
dogs_ind = dogs.set_index("Name")
print(dogs_ind.loc[["Bella","Max"]])

    Name     Breed  Color  Height(cm)  Weight(kg) Date of Birth
0  Bella  Labrador  Brown          56          24    2013-07-01
4    Max  Labrador  Black          59          29    2017-01-20
          Breed  Color  Height(cm)  Weight(kg) Date of Birth
Name
Bella  Labrador  Brown          56          24    2013-07-01
Max    Labrador  Black          59          29    2017-01-20

In [97]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs_ind2 = dogs.set_index("Breed")
print(dogs_ind2)
# We can see that index values don't need to be unique
print(dogs_ind2.loc["Labrador"])

               Name  Color  Height(cm)  Weight(kg) Date of Birth
Breed
Labrador      Bella  Brown          56          24    2013-07-01
Poodle      Charlie  Black          43          24    2016-09-16
Schnauze     Cooper   Gray          49          17    2011-12-11
Chow Chow      Lucy  Brown          46          24    2014-08-25
Labrador        Max  Black          59          29    2017-01-20
St.Bernard   Bernie  White          77          74    2018-02-27
           Name  Color  Height(cm)  Weight(kg) Date of Birth
Breed
Labrador  Bella  Brown          56          24    2013-07-01
Labrador    Max  Black          59          29    2017-01-20

In [103]:
import pandas as pd
dogs = pd.read_csv("dogs.csv")
# Multi-level indexes a.k.a hierarchical indexes
dogs_ind3 = dogs.set_index(["Breed", "Color"])
print(dogs_ind3)
print(dogs_ind3.loc[["Labrador","Chow Chow"]]) #use outer level
print(dogs_ind3.loc[[("Labrador", "Brown"), ("Poodle","Black")]]) # use tuple for inner level
print(dogs_ind3.sort_index(level = ["Color", "Breed"], ascending = [True, False]))

                     Name  Height(cm)  Weight(kg) Date of Birth
Breed      Color
Labrador   Brown    Bella          56          24    2013-07-01
Poodle     Black  Charlie          43          24    2016-09-16
Schnauze   Gray    Cooper          49          17    2011-12-11
Chow Chow  Brown     Lucy          46          24    2014-08-25
Labrador   Black      Max          59          29    2017-01-20
St.Bernard White   Bernie          77          74    2018-02-27
                  Name  Height(cm)  Weight(kg) Date of Birth
Breed     Color
Labrador  Brown  Bella          56          24    2013-07-01
          Black    Max          59          29    2017-01-20
Chow Chow Brown   Lucy          46          24    2014-08-25
                   Name  Height(cm)  Weight(kg) Date of Birth
Breed    Color
Labrador Brown    Bella          56          24    2013-07-01
Poodle   Black  Charlie          43          24    2016-09-16
                     Name  Height(cm)  Weight(kg) Date of Birth
Breed      Color
Poodle     Black  Charlie          43          24    2016-09-16
Labrador   Black      Max          59          29    2017-01-20
           Brown    Bella          56          24    2013-07-01
Chow Chow  Brown     Lucy          46          24    2014-08-25
Schnauze   Gray    Cooper          49          17    2011-12-11
St.Bernard White   Bernie          77          74    2018-02-27

Index are controversial. ALthough they simplify subsetting code, there are some downsides. Index values are just data. Storing data in multiple forms makes it harder to think about. There is a concept called "tidy data", where data is stored in its own column.

#### Slicing and subsetting with `.loc` and `.iloc`

In [9]:
# You can slice DataFrames, but first you need to sort the index.
import pandas as pd
dogs = pd.read_csv('dogs.csv')
# Sort the index before you slice
dogs_srt = dogs.set_index(["Breed","Color"]).sort_index()
print(dogs_srt)
print(dogs_srt.loc["Chow Chow":"Poodle"])
# Slicing the inner index levels correctly
print(dogs_srt.loc[("Labrador", "Brown"):("Schnauze", "Gray")])
# Slicing columns
print(dogs_srt.loc[:, "Name":"Height(cm)"])
# slice twice
print(dogs_srt.loc[("Labrador", "Brown"):("Schnauze", "Gray"),"Name":"Height(cm)"])

                     Name  Height(cm)  Weight(kg) Date of Birth
Breed      Color
Chow Chow  Brown     Lucy          46          24    2014-08-25
Labrador   Black      Max          59          29    2017-01-20
           Brown    Bella          56          24    2013-07-01
Poodle     Black  Charlie          43          24    2016-09-16
Schnauze   Gray    Cooper          49          17    2011-12-11
St.Bernard White   Bernie          77          74    2018-02-27
                    Name  Height(cm)  Weight(kg) Date of Birth
Breed     Color
Chow Chow Brown     Lucy          46          24    2014-08-25
Labrador  Black      Max          59          29    2017-01-20
          Brown    Bella          56          24    2013-07-01
Poodle    Black  Charlie          43          24    2016-09-16
                   Name  Height(cm)  Weight(kg) Date of Birth
Breed    Color
Labrador Brown    Bella          56          24    2013-07-01
Poodle   Black  Charlie          43          24    2016-09-16
Schnauze Gray    Cooper          49          17    2011-12-11
                     Name  Height(cm)
Breed      Color
Chow Chow  Brown     Lucy          46
Labrador   Black      Max          59
           Brown    Bella          56
Poodle     Black  Charlie          43
Schnauze   Gray    Cooper          49
St.Bernard White   Bernie          77
                   Name  Height(cm)
Breed    Color
Labrador Brown    Bella          56
Poodle   Black  Charlie          43
Schnauze Gray    Cooper          49

In [13]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs = dogs.set_index("Date of Birth").sort_index()
print(dogs)
print(dogs.loc["2014-08-25":"2016-09-16"])
# Subsetting by row/column number
print(dogs.iloc[2:5,1:4])

                  Name       Breed  Color  Height(cm)  Weight(kg)
Date of Birth
2011-12-11      Cooper    Schnauze   Gray          49          17
2013-07-01       Bella    Labrador  Brown          56          24
2014-08-25        Lucy   Chow Chow  Brown          46          24
2016-09-16     Charlie      Poodle  Black          43          24
2017-01-20         Max    Labrador  Black          59          29
2018-02-27      Bernie  St.Bernard  White          77          74
                  Name      Breed  Color  Height(cm)  Weight(kg)
Date of Birth
2014-08-25        Lucy  Chow Chow  Brown          46          24
2016-09-16     Charlie     Poodle  Black          43          24
                   Breed  Color  Height(cm)
Date of Birth
2014-08-25     Chow Chow  Brown          46
2016-09-16        Poodle  Black          43
2017-01-20      Labrador  Black          59

#### Working with pivot tables

In [ ]:
# pivot tables are just DataFrames with sorted indexes. That means the loc and slicing combination is ideal for subsetting pivot tables, like so.
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs_height_by_breed_vs_color = dogs.pivot_table(values = "Height(cm)", index = "Breed", columns = "Color")
dogs_height_by_breed_vs_color.mean(axis = "index") #which means "calculate the statistic across rows".
dogs_height_by_breed_vs_color.mean(axis = "columns") # across the columns