pandas is built on Numpy and Matplotlib

In [42]:
import pandas as pd
from debugpy.launcher.debuggee import describe

dogs = pd.read_csv('dogs.csv')
print(dogs)

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella    Labrador  Brown          56          24    2013-07-01
1  Charlie      Poodle  Black          43          24    2016-09-16
2   Cooper    Schnauze   Gray          49          17    2011-12-11
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
4      Max    Labrador  Black          59          29    2017-01-20
5   Bernie  St.Bernard  White          77          74    2018-02-27

In [43]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.head()) # for a few first rows for better understanding

      Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella   Labrador  Brown          56          24    2013-07-01
1  Charlie     Poodle  Black          43          24    2016-09-16
2   Cooper   Schnauze   Gray          49          17    2011-12-11
3     Lucy  Chow Chow  Brown          46          24    2014-08-25
4      Max   Labrador  Black          59          29    2017-01-20

In [44]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.info())  # display the names of columns, the data types they contain and whether they have any missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           6 non-null      object
 1   Breed          6 non-null      object
 2   Color          6 non-null      object
 3   Height(cm)     6 non-null      int64
 4   Weight(kg)     6 non-null      int64
 5   Date of Birth  6 non-null      object
dtypes: int64(2), object(4)
memory usage: 420.0+ bytes
None

In [45]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.shape)  # a attribute contains a tuple that holds the number of rows followed by the number of columns.

(6, 6)

In [46]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.describe()) # computes some summary statistics for numerical columns like mean and median. "count" is the number of non-missing values in each column.
# `describe()` is good for a quick overview of numeric variables.

       Height(cm)  Weight(kg)
count    6.000000     6.00000
mean    55.000000    32.00000
std     12.345039    20.92845
min     43.000000    17.00000
25%     46.750000    24.00000
50%     52.500000    24.00000
75%     58.250000    27.75000
max     77.000000    74.00000

In [47]:
import pandas as pd
import numpy as np
dogs = pd.read_csv('dogs.csv')
print(np.array(dogs.values))  # contains the data values in a 2-dimensional Numpy array.

[['Bella' 'Labrador' 'Brown' 56 24 '2013-07-01']
 ['Charlie' 'Poodle' 'Black' 43 24 '2016-09-16']
 ['Cooper' 'Schnauze' 'Gray' 49 17 '2011-12-11']
 ['Lucy' 'Chow Chow' 'Brown' 46 24 '2014-08-25']
 ['Max' 'Labrador' 'Black' 59 29 '2017-01-20']
 ['Bernie' 'St.Bernard' 'White' 77 74 '2018-02-27']]

In [48]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs.columns) # contains column names
for i in dogs.columns:
    print(type(i),end=" ")
    print(i)
print(dogs.index) #contains row numbers or row names.

Index(['Name', 'Breed', 'Color', 'Height(cm)', 'Weight(kg)', 'Date of Birth'], dtype='object')
<class 'str'> Name
<class 'str'> Breed
<class 'str'> Color
<class 'str'> Height(cm)
<class 'str'> Weight(kg)
<class 'str'> Date of Birth
RangeIndex(start=0, stop=6, step=1)

In [49]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.sort_values("Weight(kg)") # change the order Ã² the rows by sorting with sort_values()

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
2   Cooper    Schnauze   Gray          49          17    2011-12-11
0    Bella    Labrador  Brown          56          24    2013-07-01
1  Charlie      Poodle  Black          43          24    2016-09-16
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
4      Max    Labrador  Black          59          29    2017-01-20
5   Bernie  St.Bernard  White          77          74    2018-02-27

In [50]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.sort_values("Weight(kg)", ascending=False) # set ascending = False to reverse the order

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
5   Bernie  St.Bernard  White          77          74    2018-02-27
4      Max    Labrador  Black          59          29    2017-01-20
1  Charlie      Poodle  Black          43          24    2016-09-16
0    Bella    Labrador  Brown          56          24    2013-07-01
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
2   Cooper    Schnauze   Gray          49          17    2011-12-11

In [51]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.sort_values(["Weight(kg)","Height(cm)"]) # We can sort by multiple variables by passing a list of column names to the function. We sort first by weight, then by height.

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
2   Cooper    Schnauze   Gray          49          17    2011-12-11
1  Charlie      Poodle  Black          43          24    2016-09-16
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
0    Bella    Labrador  Brown          56          24    2013-07-01
4      Max    Labrador  Black          59          29    2017-01-20
5   Bernie  St.Bernard  White          77          74    2018-02-27

In [53]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.sort_values(["Weight(kg)","Height(cm)"],ascending=[True,False])

      Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
2   Cooper    Schnauze   Gray          49          17    2011-12-11
0    Bella    Labrador  Brown          56          24    2013-07-01
3     Lucy   Chow Chow  Brown          46          24    2014-08-25
1  Charlie      Poodle  Black          43          24    2016-09-16
4      Max    Labrador  Black          59          29    2017-01-20
5   Bernie  St.Bernard  White          77          74    2018-02-27

In [55]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
for column_name in dogs.columns:
    print(dogs[column_name])
    print()

0      Bella
1    Charlie
2     Cooper
3       Lucy
4        Max
5     Bernie
Name: Name, dtype: object

0      Labrador
1        Poodle
2      Schnauze
3     Chow Chow
4      Labrador
5    St.Bernard
Name: Breed, dtype: object

0    Brown
1    Black
2     Gray
3    Brown
4    Black
5    White
Name: Color, dtype: object

0    56
1    43
2    49
3    46
4    59
5    77
Name: Height(cm), dtype: int64

0    24
1    24
2    17
3    24
4    29
5    74
Name: Weight(kg), dtype: int64

0    2013-07-01
1    2016-09-16
2    2011-12-11
3    2014-08-25
4    2017-01-20
5    2018-02-27
Name: Date of Birth, dtype: object

In [57]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs[["Breed","Name"]])

        Breed     Name
0    Labrador    Bella
1      Poodle  Charlie
2    Schnauze   Cooper
3   Chow Chow     Lucy
4    Labrador      Max
5  St.Bernard   Bernie

In [58]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
print(dogs[["Name","Breed"]])

      Name       Breed
0    Bella    Labrador
1  Charlie      Poodle
2   Cooper    Schnauze
3     Lucy   Chow Chow
4      Max    Labrador
5   Bernie  St.Bernard

In [59]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs["Height(cm)"] > 50 # the most common way to do this is by creating a logical condition to filter against.

0     True
1    False
2    False
3    False
4     True
5     True
Name: Height(cm), dtype: bool

In [62]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs[dogs["Height(cm)"] > 50] # we can use logical condition inside [] to subset the rows

     Name       Breed  Color  Height(cm)  Weight(kg) Date of Birth
0   Bella    Labrador  Brown          56          24    2013-07-01
4     Max    Labrador  Black          59          29    2017-01-20
5  Bernie  St.Bernard  White          77          74    2018-02-27

In [63]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs[dogs["Breed"] == "Labrador"]

    Name     Breed  Color  Height(cm)  Weight(kg) Date of Birth
0  Bella  Labrador  Brown          56          24    2013-07-01
4    Max  Labrador  Black          59          29    2017-01-20

In [65]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs[dogs["Date of Birth"] < "2015-01-01"].sort_values("Date of Birth") # YYYY - MM - DD is the standard format for date.

     Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
2  Cooper   Schnauze   Gray          49          17    2011-12-11
0   Bella   Labrador  Brown          56          24    2013-07-01
3    Lucy  Chow Chow  Brown          46          24    2014-08-25

In [68]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
is_lab = dogs["Breed"] == "Labrador"
is_brown = dogs["Color"] == "Brown" 
dogs[is_lab & is_brown] #to subset the rows that meet multiple conditions we using logical operators.

    Name     Breed  Color  Height(cm)  Weight(kg) Date of Birth
0  Bella  Labrador  Brown          56          24    2013-07-01

In [70]:
# using isin() to filter on multiple values of a categorical variable.
import pandas as pd
dogs = pd.read_csv('dogs.csv')
is_black_or_brown =  dogs["Color"].isin(["Black","Brown"])
print(dogs[is_black_or_brown])

      Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella   Labrador  Brown          56          24    2013-07-01
1  Charlie     Poodle  Black          43          24    2016-09-16
3     Lucy  Chow Chow  Brown          46          24    2014-08-25
4      Max   Labrador  Black          59          29    2017-01-20